@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  /* 1. Define your colors as variables */
  :root {
    /* LIGHT MODE COLORS */
    --color-bg-main: #0a6a6c;       /* Light Gray Background */
    --color-text-main: #1e293b;     /* Dark Blue-Gray Text */
    --color-primary: #4f46e5;       /* Indigo Brand Color */
    --color-nav: rgba(139, 190, 239, 0.8); /* See-through White */
  }

  /* 2. Override them for Dark Mode */
  .dark {
    /* DARK MODE COLORS */
    --color-bg-main: #000000;       /* Deep Midnight Blue */
    --color-text-main: #2e2b0d;     /* Light Gray Text */
    --color-primary: #ffffff;       /* Lighter Indigo */
    --color-nav: rgba(25, 58, 207, 0.8);      /* See-through Black */
  }

  /* 3. Apply the variables to the body */
  body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 300ms;
  }
}

/* Scrollbar Utility */
@utility scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar { display: none; }
}