@import "tailwindcss";

body {
    font-family: 'Outfit', sans-serif;
    @apply bg-zinc-50 text-zinc-900 transition-colors duration-300;
    @apply dark:bg-zinc-900 dark:md:bg-zinc-950 dark:lg:bg-zinc-950 dark:text-zinc-100;
    @apply antialiased selection:bg-zinc-300 selection:text-zinc-900 dark:selection:bg-zinc-600 dark:selection:text-white;
}

@utility scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}